html, body, * {
    cursor: url('/resources/ict/common/img/common/cursor.png'), auto !important;
}


.dim {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #121212;
}


.scrollDownArea {
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.copyright {
    font-family: PretendardMedium, sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    position: absolute;
    bottom: 1.41rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #ADB5BD;
}

.scrollUp {
    position: fixed;
    z-index: 999;
    right: 1.88rem;
    bottom: 1.88rem;
    display: none;
    align-items: center;
    justify-content: center;
    width: 6.875rem;
    height: 6.875rem;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0.3125rem 0.625rem 1.25rem rgb(0 0 0 / 20%);
}

.scrollUp img {
    width: 3rem;
    height: 3rem;
    animation: bounce-double 2.5s infinite ease-in-out;
}

@keyframes bounce-double {
    0%, 100% { transform: translateY(0); }

    10% { transform: translateY(-15px); }
    20% { transform: translateY(0); }

    30% { transform: translateY(-12px); }
    40% { transform: translateY(0); }

    70%, 90% { transform: translateY(0); }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a {
    width: 1.25rem;
    height: 1.25rem;
}

.pagination .first {
    margin-right: 0.63rem;
    background: url("/resources/ict/dglib/smart/img/common/first.svg") no-repeat center center;
    background-size: contain;
}

.pagination .prev {
    margin-right: 1.87rem;
    background: url("/resources/ict/dglib/smart/img/common/prev.svg") no-repeat center center;
    background-size: contain;
}

.pagination .last {
    margin-left: 0.63rem;
    background: url("/resources/ict/dglib/smart/img/common/last.svg") no-repeat center center;
    background-size: contain;
}

.pagination .next {
    margin-left: 1.87rem;
    background: url("/resources/ict/dglib/smart/img/common/next.svg") no-repeat center center;
    background-size: contain;
}

.pagination ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 2.53rem;
}

.pagination ul li {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
    list-style: none;
    text-transform: uppercase;
    color: #191F28;
}

.pagination ul li.active {
    font-family: PretendardMedium, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 -0.94rem;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 50%;
    background: #191F28;
}

.loadingOverlay {
    position: fixed;
    z-index: 9999; top: 0;
    left: 0; display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
}

.loadingOverlay img {
    width: 20rem;
    height: 20rem;
}

.commonPopup {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 50%);
}
.commonPassWordPopup {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 50%);
}


.commonPopupContent {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5rem 3.75rem 3.125rem;
    transform: translate(-50%, -50%);
    border-radius: 1.875rem;
    background: #FFF;
}

.commonPopupContent div {
    font-family: PretendardRegular, sans-serif;
    font-size: 1.625rem;
    font-style: normal;
    overflow-y: auto;
    width: 31.25rem;
    max-height: 32rem;
    margin-bottom: 2.5rem;
    letter-spacing: -0.0325rem;
    color: #454545;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.commonPopupContent div::-webkit-scrollbar {
    display: none;
}

.commonPopupContent button {
    font-family: PretendardBold, sans-serif;
    font-size: 1.625rem;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    text-align: center;
    color: #FFF;
    border-radius: 0.75rem;
    background: #242424;
}